<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人物列表</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>

<style>
    a{
        color:#fff;
    }
</style>

<body>
    <table class="table table-striped table-bordered table-hover text-center">
        <thead>
        <tr style="text-align:center">
            <th><a class='btn btn-default' href="/searchAndOrderBy?k=id">Id</a></th>
            <th><a class='btn btn-default' href="/searchAndOrderBy?k=name">姓名</a></th>
            <th><a class='btn btn-default' href="/searchAndOrderBy?k=solar_calendar_birthday">阳历生日</a></th>
            <th><a class='btn btn-default' href="/searchAndOrderBy?k=lunar_calendar_birthday">阴历生日</a></th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="p:${people}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.solarCalendarBirthday}"></td>
            <td th:text="${p.lunarCalendarBirthday}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{'/update/'+${p.id}}">更改</a>
                <a class="btn btn-danger" th:href="@{'/delete/'+${p.id}}">删除</a>
            </td>
        </tr>
    </tbody>
    </table>

    <div style="width:200px;height:100%;">
        <button class="btn btn-primary form-control" style="height:50px"><a th:href="@{'/peopleAddForm'}">添加用户</a></button>
    </div>

    <div style="width:200px;height:100%;">
        <button class="btn btn-primary form-control" style="height:50px"><a th:href="@{'/exportPeople'}">导出用户</a></button>
    </div>

    <div>
        <form enctype="multipart/form-data" method="post" action="/importPeople">    
            请选择包含人物信息的Excel表格：<input type="file" name="file"/><br/>    
            <input type="submit" value="上传"/>
        </form>
    </div>
</body>
</html>